<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{{ 'Super Sprinter 3000 - Add new Story' if not edit else 'Super Sprinter 3000 - Edit Story' }}</title>
</head>


<body>
<h1>{{ 'User Story manager - Add new Story' if not edit else 'User Story manager - Edit Story' }}</h1>

{% if not edit %}
<form action="/save-story" method="POST">
{% else %}
<form action="/edit-story/{{ edit_data_list[0] }}" method="POST">
{% endif %}

    <label for="id_"></label>
        <input value = {{id_pos}} type=hidden name="id_">

    <p><label for="title">Story Title</label><br>
        <input name="title" size="91" value="{{edit_data_list[1] if edit else ''}}"></p>

    <p><label for "story">User Story</label><br>
        <textarea rows="10" cols="70" name="story">{{edit_data_list[2] if edit else ''}}</textarea></p>
       
    <p><label for "accept">Acceptance criteria</label><br>
        <textarea rows="10" cols="70" name="accept">{{edit_data_list[3] if edit else ''}}</textarea></p>
    
    <p><label for "value">Business Value</label><br>
        <input type="number" name="value" min="100" max="1500" step="100" value="{{edit_data_list[4] if edit else '1000'}}"></p>

    <p><label for "time">Estimation (h)</label><br>
        <input type="number" name="time" min="0.5" max="40" step="0.5" value="{{edit_data_list[5] if edit else '2.5'}}"></p>

    <p><label for "status">Status</label><br>
        <select name="status">
            <option {{ 'selected' if edit and edit_data_list[6] == 'Planning' else '' }}>Planning</option>
            <option {{ 'selected' if edit and edit_data_list[6] == 'TODO' else '' }}>TODO</option>
            <option {{ 'selected' if edit and edit_data_list[6] == 'In Progress' else '' }}>In Progress</option>
            <option {{ 'selected' if edit and edit_data_list[6] == 'Review' else '' }}>Review</option>
            <option {{ 'selected' if edit and edit_data_list[6] == 'Done' else '' }}>Done</option>
        </select></p>
    <br>
    <br>
    <p><button type="submit">{{"Update" if edit else "Create"}}</button></p>
</form>

